@media only screen and (max-width:768px){
  body{


    background: url("../img/backMobile.png");
    background-repeat: repeat;}

    #intro{

        background-image: url("../img/hero1.jpg");
        background-size: cover;
    }
    #help{

        background-color: rgba(255,255,255, 0.8);

    }

    .columns{
        border: solid 3px black;
        border-radius: 5px;
        margin-top: 50px;
        background-color: rgba(255,255,255, 0.8);
        color: black;
        margin-left: -5px;
        margin-right: -5px;
    }

    #contenidoAyuda{

        color: black;
        font-weight: bold;
    }
    .button{

        display: flex;
        font-weight: bolder;
        background-color: whitesmoke;
        border: 0.1em solid rgba(0,0,0, 0.8)

    }

    .button:active {

        box-shadow: 0px 0px 2px 0.5px #aaa;
        border: 0.1em solid rgba(0,0,0, 0.8);
        background-color: rgba(255, 221, 87, 0.85);
        transition: 0.3s;

    }

    #headerModal1, #headerModal2, #headerModal3, #headerModal4, #headerModal5, #headerModal6, #headerModal7, #headerModal8{
        background-color: #209cee;

    }
    #tituloModal1, #tituloModal2,#tituloModal3, #tituloModal4,#tituloModal5, #tituloModal6,#tituloModal7, #tituloModal8 {

        color: whitesmoke;
        font-weight: bold;

    }
    #cuerpoModal1 > img, #cuerpoModal2 > img, #cuerpoModal3 > img, #cuerpoModal4 > img, #cuerpoModal5 > img, #cuerpoModal6 > img, #cuerpoModal7 > img, #cuerpoModa8 > img {

        border-radius: 5px;
        border: 3px solid #209cee;
        max-width: 200px !important;

    }
    #cuerpoModal1 > p, #cuerpoModal2 > p, #cuerpoModal3 > p, #cuerpoModal4 > p, #cuerpoModal5 > p, #cuerpoModal6 > p, #cuerpoModal7 > p, #cuerpoModal8 > p {
        color: black;


    }
    #bio1, #bio2, #bio3, #bio4, #bio5, #bio6, #bio7, #bio8{

        margin: 20px auto;
        border-radius: 5px;
        padding: 10px 1px 5px 1px;
    }



html{

  background-color: #209cee;
}

}


@media only screen and (min-width:768px) {
    html {

        background-color: #209cee;
    }
    
 #intro{

     background-image: url("../img/hero1.jpg");
     background-size: cover;

 }

 #help{

     background-color: rgba(255,255,255, 0.8);

 }

#contenidoAyuda{

    color: black;

}
    body {
        background: url("../img/backDesk.jpg");
        background-size: cover !important;
        background-attachment: fixed;
    }

    .button {

       display: flex;
       font-weight: bolder;
       background-color: whitesmoke;
       border: 0.1em solid rgba(0,0,0, 0.8)

    }
    .button:hover {

       box-shadow: 0px 0px 2px 0.5px #aaa;
       border: 0.1em solid rgba(0,0,0, 0.8);
       background-color: rgba(255, 221, 87, 0.85);
       transition: 0.3s;

    }

    .columns {

        border: solid 4px black;
        border-radius: 10px;
        margin-top: 50px;
        background-color: rgba(255,255,255, 0.8);
        color: black;
        text-align: center;
    }




    #headerModal1, #headerModal2, #headerModal3, #headerModal4, #headerModal5, #headerModal6, #headerModal7, #headerModal8 {
        background-color: #209cee;


    }

    #tituloModal1, #tituloModal2, #tituloModal3, #tituloModal4, #tituloModal5, #tituloModal6, #tituloModal7, #tituloModal8 {

        color: whitesmoke;
        font-weight: bold;
    }
    #cuerpoModal1 > img, #cuerpoModal2 > img, #cuerpoModal3 > img, #cuerpoModal4 > img, #cuerpoModal5 > img, #cuerpoModal6 > img, #cuerpoModal7 > img, #cuerpoModa8 > img  {

        border-radius: 5px;
        border: 3px solid #209cee;
        max-width: 400px;

    }
    #cuerpoModal1 > p, #cuerpoModal2 > p, #cuerpoModal3 > p, #cuerpoModal4 > p, #cuerpoModal5 > p, #cuerpoModal6 > p, #cuerpoModal7 > p, #cuerpoModal8 > p{

        color: black;


    }

    #bio1, #bio2, #bio3, #bio4, #bio5, #bio6, #bio7, #bio8{

        margin: 20px auto;
        border-radius: 5px;
        padding: 10px 5px;
    }
}











